framework: auto-detect

source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core >= 4.7.2
nuget Terminal.Gui >= 0.81.0
nuget Argu

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true

group Formatting
source https://api.nuget.org/v3/index.json

nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto 
nuget Fake.DotNet.FSFormatting 
nuget Fake.Api.GitHub

